# Java
*.class

# Package Files
*.jar
*.war
*.ear
*.rar

# Thumbnails
Thumbs.db

# Object files (no binaries in git repos!)
*.obj
*.exe
*.so
*.zip
*.tar
*.gz

# Mac
.fseventsd/
.Spotlight-V100/
.Trashes/
._.Trashes
.DS_Store

# Eclipse
.classpath
.compatibility
.project
.pydevproject
.factorypath
.checkstyle
.metadata/
.settings/
.pmd
.springBeans
.tern-project

# IntelliJ
.idea/
*.iml

# Maven
target/

# Subversion
.svn/

# Misc
*~
*.log
*.orig
*.sonar
deployWars.sh
buildContexts.sh
.externalToolBuilders
